//Factoids
.factoid{
	position: absolute;
	bottom: 2%;
	right: 2%;
	width: 301px;
	height: 118px;
    opacity: 0;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;		
	background: url('/i/factoid.png') no-repeat 0 0;
	p{
		margin-top: 42px;
		text-align: center;
		color: #FFF;
		font-size: 15px;
		font-weight: 400;
		font-family: "Open Sans", sans-serif;
	}
}
.factoid2{
	position: absolute;
	bottom: 2%;
	left: 2%;
	width: 416px;
	height: 118px;
    opacity: 0;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;		
	background: url('/i/factoid3.png') no-repeat 0 0;
	p{
		margin-top: 42px;
		text-align: center;
		color: #FFF;
		font-size: 15px;
		font-weight: 400;
		font-family: "Open Sans", sans-serif;
	}			
}
.factRight{
	right: 2%;
	left: auto;
}		
.factoid-display{
	opacity: 1;
}