#header{
	position: fixed;
	width: 100%;
	height: 92px;
	background-color: #FFF;
	z-index: 3000;
	-webkit-box-shadow: 0px 11px 38px -21px rgba(43,43,43,0.68);
	-moz-box-shadow: 0px 11px 38px -21px rgba(43,43,43,0.68);
	box-shadow: 0px 11px 38px -21px rgba(43,43,43,0.68);
	& > img{
		position: absolute;
		top: 11%;
		left: 3%;
	}
	h1{
		margin: 0;
		padding: 0;
		display: block;
		text-align: center;
		font-family: $open;
		font-weight: $w300;
		font-size: $f24;
		line-height: 92px;
	}
	//table of contents nav
	#nav{
		position: absolute;
		right: 0;
		top: 0;
		height: 92px;
		.activerow{
			color: #FFF;
			background-color: #1b1b1b;			
		}
		.activerow:after{
			background-position: 0 100%;			
		}
		li{ 
			list-style-type: none;
		}
		//menu parent
		& > li{
			position: relative;
			& > a{
				font-size: $f13;
				font-weight: $w400;
				color: #1b1b1b;
				line-height: 92px;
				height: 92px;
				padding: 0 50px 0 50px;
				display: block;
				&:after{
					position: relative;
					top: 6px;
					left: 14px;
					display: inline-block;
					content: "";
					width: 23px;
					height: 23px;
					background: url('/i/icon-downarrow.png') no-repeat 0 0;
				}
			}
			//sub menu
			ul{
				display: none;
				width: 260px;
				position: absolute;
				right: 0;
				top: 92px;
				padding: 28px;
				background-color: #1b1b1b;
				& > li{
					margin-bottom: 10px;
					a{
						color: #FFF;
						font-size: 16px;
						&:hover{
							text-decoration: underline;
						}
					}					
				}
			}
			//end sub menu
		}
		//end menu parent
	}
	//end table of content nav
}