.scrollDown{
	position: fixed;
	bottom: 5%;
	left: 50%;
	margin-left: -(58px / 2);
	width: 58px;
	height: 58px;
	cursor: pointer;
	background: url('/i/downarrow2.png') no-repeat 0 0;
}
.row1{
	& > div{
		background: url('/i/bg1.jpg') no-repeat center center;
		background-size: cover;
	}
	.content{
		height: 100%;
		h2{
			margin: 0;
			padding: 0;
			position: relative;
			top: 48%;
			font-weight: $w300;
			font-size: 48px;
			color: #3e3e3e;
			text-align: center;
		}
	}
}
.row2{
	& > div{
		background: url('/i/bg2.jpg') no-repeat center center;
		background-size: cover;
	}
	.content{		
		height: 100%;
		h2{
			position: absolute;
			top: 20%;
			left: 0;
			right: 0;
			margin-top: -24px;
			margin-left: auto;
			margin-right: auto;
			padding: 0;
			font-weight: $w300;
			font-size: 48px;
			line-height: 48px;
			color: #FFF;
			text-align: center;
		}		
		.twoColWrap{
			position: absolute;
			top: 30%;
			width: 900px;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
			div{
				float: left;
				&:first-child{
					width: 30%;
					height: 376px;
					img{
						display: block;
						margin: 0 auto;
						padding-bottom: 20px;
					}
					p{
						color: #FFF;
						text-align: center;
					}
					.name{
						font-weight: $w600;
						font-size: $f18;
					}
					.title{
						font-weight: $w400;
						font-size: $f16;	
					}
				}
				&:last-child{
					width: 59%;
					padding-left: 2%;
					height: 376px;
					border-left: 1px solid #FFF;
					p{
						font-family: "caflisch-script-pro",sans-serif !important;
						font-style: normal;
						font-weight: 400;
						color: #FFF;
						font-size: 26px;;
						margin-bottom: 40px;
					}
				}				
			}
		}
	}
}
//Video
.row3{
	& > div{
		background: url('/i/bg3.jpg') no-repeat center center;
		background-size: cover;		
	}
	.content{
		height: 100%;		
		h2{
			position: absolute;
			top: 20%;
			left: 0;
			right: 0;
			margin-top: -24px;
			margin-left: auto;
			margin-right: auto;
			padding: 0;
			font-weight: $w300;
			font-size: 48px;
			line-height: 48px;
			color: #403930;
			text-align: center;
		}
		.vidWrapper{
			width: 45%;
			position: relative;
			top: 25%;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
		}
		.vidContainer {
			position: relative;
			width: 100%;
			height: 0;
			padding-bottom: 56.25%;
		}
		.theVideo{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}

//==============================================
//==============================================
//==============================================
//*************INSERT FUTURE IS BRIGHT
//==============================================
//==============================================
//==============================================
//Future is Bright
.row4{
	& > div{
		background: url('/i/bg7.jpg') no-repeat center center;
		background-size: cover;		
	}
	.content{
		height: 100%;
		h2{
			position: absolute;
			top: 20%;
			left: 0;
			right: 0;
			margin-top: -24px;
			margin-left: auto;
			margin-right: auto;
			padding: 0;
			font-weight: $w300;
			font-size: 48px;
			line-height: 48px;
			color: #000;
			text-align: center;
		}
		.boardWrap{
			position: relative;
			top: 32%;
			left: 0;
			right: 0;
			margin: -70px auto 0 auto;
			width: 930px;
			p{
				text-align: center;
				margin-bottom: 40px;
			}
		}		
		.rowSlider{
			width: 782px;
			height: 380px;
			margin: 0 auto;
			position: relative;
			background-color: #FFF;
			span.prev{
				background: url('/i/prev.jpg') no-repeat 0 0;
				top: 50%;
				left: 0;
				margin-top: -25px;
			}
			span.next{
				background: url('/i/next.jpg') no-repeat 0 0;
				top: 50%;
				right: 0;
				margin-top: -25px;
			}			
			.rowSlide{
				height: 298px;
				img{
					display: block;
					margin: 0 auto;
					padding-top: 40px;
				}
			}
			.rowDesc{
				line-height: 82px;
				height: 82px;
				background-color: #3e3d3b;
				p{
					text-align: center;
					color: #FFF;
				}
			}
		}		
	}		
}
//Possibilities
.row5{
	& > div{
		background: url('/i/bg4.jpg') no-repeat center center;
		background-size: cover;		
	}
	.content{
		height: 100%;
		h2{
			position: absolute;
			top: 20%;
			left: 0;
			right: 0;
			margin-top: -24px;
			margin-left: auto;
			margin-right: auto;
			padding: 0;
			font-weight: $w300;
			font-size: 48px;
			line-height: 48px;
			color: #FFF;
			text-align: center;
		}
		.circleWrap{
			position: absolute;
			top: 50%;
			left: 50%;
			width: 822px;
			margin-top: -113px;
			margin-left: -411px;
			cursor: pointer;
			div{
				float: left;
				width: 220px;
				height: 220px;
				border: 3px solid #FFF;
				-moz-border-radius: 110px;
				-webkit-border-radius: 110px;
				border-radius: 110px;				
				background: url('/i/bgblue.png') repeat 0 0;
				margin-right: 72px;
				transition: all .2s ease-in-out;
				&:hover{
					transform: scale(1.1);
				}				
				p{
					position: relative;
					top: 50%;
					margin-top: -28px;
					vertical-align: middle;
					text-align: center;
					font-size: $f16;
					font-weight: $w400;
					color: #FFF;
				}
				img{
					display: block;
					margin: 0 auto;
					position: relative;
					top: 125px;
				}
				&:last-child{
					margin: 0;
				}
			}

		}				
	}
}
//Collaborators
.row6{
	& > div{
		background: url('/i/bg5.jpg') no-repeat center center;
		background-size: cover;		
	}
	.content{
		height: 100%;
		h2{
			position: absolute;
			top: 20%;
			left: 0;
			right: 0;
			margin-top: -24px;
			margin-left: auto;
			margin-right: auto;
			padding: 0;
			font-weight: $w300;
			font-size: 48px;
			line-height: 48px;
			color: #FFF;
			text-align: center;
		}
		.circleWrap{
			position: absolute;
			top: 50%;
			left: 50%;
			width: 822px;
			margin-top: -113px;
			margin-left: -411px;
			cursor: pointer;			
			div{
				float: left;
				width: 220px;
				height: 220px;
				border: 3px solid #FFF;
				-moz-border-radius: 110px;
				-webkit-border-radius: 110px;
				border-radius: 110px;				
				background: url('/i/bgdg.png') repeat 0 0;
				margin-right: 72px;
				transition: all .2s ease-in-out;
				&:hover{
					transform: scale(1.1);
				}				
				p{
					position: relative;
					top: 50%;
					margin-top: -28px;
					vertical-align: middle;
					text-align: center;
					font-size: $f16;
					font-weight: $w400;
					color: #FFF;
				}
				img{
					display: block;
					margin: 0 auto;
					position: relative;
					top: 125px;
				}
				&:last-child{
					margin: 0;
				}
			}

		}				
	}	
}
//Power of People
.row7{
	& > div{
		background: url('/i/Power-of-People.jpg') no-repeat center center;
		background-size: cover;		
	}
	.content{
		height: 100%;
		h2{
			position: absolute;
			top: 20%;
			left: 0;
			right: 0;
			margin-top: -24px;
			margin-left: auto;
			margin-right: auto;
			padding: 0;
			font-weight: $w300;
			font-size: 48px;
			line-height: 48px;
			color: #FFF;
			text-align: center;
		}
		.circleWrap{
			position: absolute;
			top: 50%;
			left: 50%;
			width: 822px;
			margin-top: -113px;
			margin-left: -411px;
			cursor: pointer;			
			div{
				float: left;
				width: 220px;
				height: 220px;
				border: 3px solid #FFF;
				-moz-border-radius: 110px;
				-webkit-border-radius: 110px;
				border-radius: 110px;				
				background-color: rgba(0, 0, 0, 0.4);
				margin-right: 72px;
				transition: all .2s ease-in-out;
				&:hover{
					transform: scale(1.1);
				}						
				p{
					position: relative;
					top: 50%;
					margin-top: -28px;
					vertical-align: middle;
					text-align: center;
					font-size: $f16;
					font-weight: $w400;
					color: #FFF;
				}
				img{
					display: block;
					margin: 0 auto;
					position: relative;
					top: 125px;
				}
				&:last-child{
					margin: 0;
				}
			}

		}				
	}
}
//Janet Holder
.row8{
	& > div{
		background: url('/i/bg-jan-holder.jpg') no-repeat center center;
		background-size: cover;		
	}
	.content{
		height: 100%;
		h2{
			position: absolute;
			top: 20%;
			left: 0;
			right: 0;
			margin-top: -24px;
			margin-left: auto;
			margin-right: auto;
			padding: 0;
			font-weight: $w300;
			font-size: 48px;
			line-height: 48px;
			color: #FFF;
			text-align: center;
		}
		.boardWrap{
			position: relative;
			top: 30%;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;			
			width: 930px;
			img{
				display: block;
				margin: 0 auto 20px auto;
			}
			p{
				color: #FFF;
				margin-bottom: 20px;
			}
			div{
				width: 440px;
				float: left;
				margin-right: 40px;
				&:last-child{
					margin: 0;
				}
				.name{
					color: #c40c2d;
					font-size: $f14;
					font-weight: $w600;
					
				}
				.title{
					font-size: $f14;
					font-weight: $w400;
										
				}
				.history{
					font-size: $f14;
					font-weight: $w400;
					margin-bottom: 8px;
				}
			}
		}

	}
}
//Board Members
.row9{
	& > div{
		background: url('/i/bg8.jpg') no-repeat center center;
		background-size: cover;		
	}
	.content{
		height: 100%;
		h2{
			position: absolute;
			top: 20%;
			left: 0;
			right: 0;
			margin-top: -24px;
			margin-left: auto;
			margin-right: auto;
			padding: 0;
			font-weight: $w300;
			font-size: 48px;
			line-height: 48px;
			color: #403930;
			text-align: center;
		}
		.boardWrap{
			position: relative;
			top: 30%;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;			
			width: 930px;
			div{
				width: 440px;
				float: left;
				margin-right: 40px;
				&:last-child{
					margin: 0;
				}
				.name{
					color: #c40c2d;
					font-size: $f14;
					font-weight: $w600;
					
				}
				.title{
					font-size: $f14;
					font-weight: $w400;
										
				}
				.history{
					font-size: $f14;
					font-weight: $w400;
					margin-bottom: 8px;
				}
			}
		}

	}			
}
//Thank You
.row10{
	& > div{
		background: url('/i/bgclouds.jpg') no-repeat center center;
		background-size: cover;		
	}
	.content{
		height: 100%;
		h2{
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			margin-top: -24px;
			margin-left: auto;
			margin-right: auto;
			padding: 0;
			font-weight: $w300;
			font-size: 48px;
			line-height: 48px;
			color: #FFF;
			text-align: center;
		}
		.boardWrap{
			position: relative;
			top: 54%;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;			
			width: 970px;
			p{
				text-align: center;
				padding-top: 10px;
				font-size: 16px;
				color: #FFF;
			}
		}				
	}	
}