.inline_box{
	width: 820px;
	height: 670px;
	position: relative;
	background-color: #FFF;
	margin: 0 auto;
	z-index: 1000000;
	overflow: hidden;
	span{
		display: block;
		width: 50px;
		height: 50px;
		position: absolute;
		cursor: pointer;		
	}	
	.modalClose{
		position: absolute;
		top: 0;
		right: 0;
	}	
	.modalContent{
		padding: 0 30px 0 30px;
		margin-top: 45px;
		overflow: auto;
		height: 300px;		
		h1{
			font-size: 32px;
			font-weight: $w300;
			color: #c40c2d;
			padding: 20px 30px 20px 30px;
			background-color: #FFF;
			position: absolute;
			top: 205px;
			left: 30px;
		}
		h2{
			font-size: 32px;
			font-weight: $w300;
			color: #c40c2d;
			margin-bottom: 20px;			
		}
		p{
			font-size: $f14;
			font-weight: $w400;
			color: #403930;
			margin-bottom: 25px;
			line-height: 22px;
			a{
				color: #c21c3a;
				text-decoration: underline;
			}
		}
		li{
			font-size: 14px;
			font-weight: 400;
			color: #403930;
			margin-bottom: 0;
			line-height: 22px;			
		}
		ul{
			margin-left: 20px;
		}
	}
	.logoWrap{
		width: 100%;
		margin-bottom: 20px;
		img{
			margin: 0 20px 20px 0;
			display: inline-block;
			vertical-align: middle;
		}
		div{
			width: 130px;
			float: left;
			margin-right: 20px;
			img{
				display: block;
				margin: 0 auto 8px auto;
			}
			&:last-child{
				margin: 0;
			}
			p{
				font-size: 16px;
				font-family: $open;
				margin-bottom: 5px;
				text-align: center;
			}
		}
	}
}
button.mfp-arrow-left{
	width: 50px;
	height: 50px;
	background: url('/i/prev.jpg') no-repeat 0 0;
	top: 24%;
	left: 0;
}
button.mfp-arrow-right{
	width: 50px;
	height: 50px;
	background: url('/i/next.jpg') no-repeat 0 0;
	top: 24%;
	right: 0;
}