*{
	margin: 0;
	padding: 0;
}
body{
	font-family: $open;
}
a{
	text-decoration: none;
}
.fixed{
	position: fixed !important;
	width: 100%;
}
.static{
	position: static !important;
}
iframe{
	display: block;
	margin: 50px auto 0 auto;
}
.inline_box .modalContent blockquote,
.inline_box .modalContent blockquote p,
.inline_box .modalContent blockquote cite{
	margin: 0 15px;
	color:#ca2442;
	font-style: italic;
}
.inline_box .modalContent blockquote p,
.inline_box .modalContent blockquote cite {
	margin: 0 0 10px 0;
}